<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div id="test">
    你好，{{content}},{{description}}</br>
    <span>{{description}}</span></br>
    {{aaa.y.x}}</br>
    <li v-model=""></li>
    <input type="text" v-model="aaa.m" />{{aaa.m}}
  </div>
  <script type="module">
    import Due from "./core/index.js";
    
      window.test = new Due({
        el: "test",
        data: {
          content: "panda",
          description: "say hello",
          aaa: {
            y: {
              x: 222
            },
            m:5
          },
          bbb: [
            { student: "panda", age: 20 },
            { student: "monkey", age: 21 }
          ]
        }
      });
    </script>
</body>

</html>